@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<head>
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
    <style>
      html { height: 100% }
      body { height: 100%; background-color:#CCC }
      #map-outer {height: 660px; padding: 20px; border: 2px solid #CCC; margin-bottom: 20px; background-color:#FFF }
	  #googleMap { height: 620px }
	  @@media all and (max-width: 991px) {
		#map-outer  { height: 650px }
		}

      #matrix{ background-color : #DDDDDD; width: 100%; border-collapse: separate; border-spacing: 1px; font-size:small }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Scripts/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="map-outer" class="col-md-12">
                <div id="googleMap" class="col-md-12"></div>
                
            </div><!-- /map-outer -->
            <table class="table-condensed" id="matrix"></table>
        </div> <!-- /row -->

        <div class="row">
            <form class="form-horizontal" name="commentform">
                <div class="form-group">
                    <div class="col-md-4">
                        <span class="text-left">Instrutor</span>
                        <select class="form-control" id="ddlInstructors" placeholder="Instrutor"></select>
                    </div>
                    <div class="col-md-2">
                        <span class="text-left">Date</span>
                        <input type="text" class="form-control" id="datepicker" value="18/03/2015">
                    </div>
                    <div class="col-md-6 input-group">
                        <div class="form-group">
                            <div class="col-md-6">
                                <span class="text-left">Origem</span>
                                <select class="form-control" id="ddlOrigem"></select>
                            </div>
                            <div class="col-md-6">
                                <span class="text-left">Destino</span>
                                <select class="form-control" id="ddlDestino"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button type="button" value="Submit" onclick="getGeolocation();" class="btn btn-warning pull-right">Submit</button>
                        <input id="copyTarget" style="display:none" value="" width="100%">
                    </div>
                </div>
            </form>
        </div><!-- /row -->
    </div><!-- /container -->
</body>


